.addressPosition {
    margin: 10px 0 30px 10px;
}

.slug {
    font-weight: bold;
}

.slugPosition {
    margin-bottom: 20px;
}

.position {
    border-left: 3px solid #6C757D;
    padding-left: 6px;
    margin-bottom: 6px;
}

.heading {
    font-size: 36px;
    font-family: 'AvanteBs', sans-serif;
}