.container {
    display: flex;
    padding: 48px 0;
    justify-content: space-between;
}

@media (max-width: 420px) {
    .container {
        flex-direction: column;
    }
    .buttonsPosition {
        margin-top: 20px;
    }
}